<div class="articles">
    <div>
        <h2>Articles (<%= @articles.public_count %> public)</h2>
        <%= link_to "New Article", new_article_path %>
    </div>
    <div class="articles__list">
        <% @articles.each do |article| %>
            <%
=begin%>
 <%= link_to , article %> 
<%
=end%>
            <div class="articles__item" onclick="window.location='<%= article_path(article) %>'">
                <div class="articles__item-header">
                    <h3><%= article.title %><%= render "fragments/tag", tag: article.status %></h3>
                    
                </div>
                <p><%= article.body %></p>
            </div>
        <% end %>
    </div>
    <p>Copyright 2021</p>
</div>
