<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogTutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      Tutorial from <a href="https://guides.rubyonrails.org/getting_started.html" target="_blank">rails start guide</a>.
    </div>
    <%= yield %>
  </body>
</html>
